@import './mixins'

$fontsize: 20px
$cellsize: 100px
$gridmargin: 15px
$cellmargin: 4px
$borderwidth: 4px
$duration: 0.25s
$expmax: 11

$bgcolor: #282828
$bordercolor: #888
$txtcolor: #ccc

html
    --gridsize: 4 // max 16
body
    margin: 0
    padding: 0
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
    background-color: $bgcolor
    background-size: 16px 16px
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    user-select: none

.container
    width: 450px
    margin: 0 auto
    padding: 20px

h1
    display: inline-block
    float: left
    margin-top: 0
    margin-bottom: 30px
    font-size: 50pt
    line-height: 50px
    color: chocolate
    text-shadow: 0 2px 2px white

#back, #restart, #score, #highscore
    display: inline-block
    padding: 5px
    border: 1px solid $bordercolor
    border-radius: 10px
    background: $bgcolor
    text-align: center
    cursor: pointer
    color: $bordercolor

#restart, #back
    float: left
    width: 100px
    height: 30px
    line-height: 30px
    margin-bottom: 30px
    margin-right: 10px
    font-size: 15pt
    &:hover
        color: $txtcolor
        border-color: $txtcolor

#restart
    clear: left

#score, #highscore
    float: right
    color: $txtcolor
    height: 50px
    width: 120px
    font-size: 20pt
    font-weight: bold
    padding-top: 0
    margin-bottom: 10px
    &:before
        display: block
        font-size: 12pt
        font-weight: normal
        color: $bordercolor

#score:before
    content: 'score'
#score
    clear: right

#highscore:before
    content: 'best'

#game
    position: relative
    @include gridsize($cellsize, $cellmargin, $gridmargin)
    clear: both
    text-align: center
    box-shadow: 0px 0px 0px 5px #444, 0px 0px 0px 7px $bordercolor, 0px 0px 0px 12px #000

#gameover, .grid
    position: absolute
    width: 100%
    height: 100%

#gameover
    z-index: 100
    font-size: 30pt
    background: rgba(0, 0, 0, 0.6)
    color: $txtcolor
    span
        display: inline-block
        width: 90%
        white-space: pre-line
        @include center()

.grid
    background: $bgcolor

.cell
    position: absolute
    width: $cellsize + $cellmargin
    height: $cellsize + $cellmargin
    top: 0
    left: 0
    perspective-origin: center center
    perspective: 300px
    transition-duration: $duration
    transition-property: left, top, transform, box-shadow, opacity
    transition-timing-function: ease-in

.tile
    position: absolute
    width: $cellsize
    height: $cellsize
    margin: $cellmargin
    margin-right: 0
    background: none
    text-align: center
    transform-style: preserve-3d
    transition-duration: $duration
    transition-property: transform
    transition-timing-function: ease-in

.front, .back
    /* hide back of pane during swap */
    position: absolute
    width: 100%
    height: 100%
    line-height: $cellsize - (2 * $borderwidth)
    box-sizing: border-box
    top: 0
    left: 0
    border: $borderwidth solid red
    border-radius: $cellsize / 8
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7)
    backface-visibility: hidden
    font-size: $fontsize
    font-weight: bold

.front
    /* front pane, placed above back */
    z-index: 10
    transform: rotateY(0deg)

/* styles for cell x, y positions */

@for $i from 0 through 16 - 1
    .x-#{$i}
        left: $gridmargin + ($cellsize + $cellmargin) * $i
        @if $i = 0
            margin-left: -$cellmargin

@for $i from 0 through 16 - 1
    .y-#{$i}
        top: $gridmargin + ($cellsize + $cellmargin) * $i
        @if $i = 0
            margin-top: -$cellmargin

/* styles for tile values (.val-11 = pow(2, 11) =2048) */

$startcol: #AFEEEE
@for $i from 0 through $expmax
    .val-#{$i}
        $deg: (360deg / 11) * $i
        $col: adjust-hue($startcol, $deg)
        background: $col
        border-color: darken($col, 30%)
        color: darken($col, 50%)
        font-size: 60px - ($i * 3)

// animations

.willflip-Up
    transform: rotateX(180deg)
.willflip-Down
    transform: rotateX(-180deg)
.willflip-Left
    transform: rotateY(-180deg)
.willflip-Right
    transform: rotateY(180deg)

.flipped-Up
    transform: rotateX(-180deg)
.flipped-Down
    transform: rotateX(180deg)
.flipped-Left
    transform: rotateY(180deg)
.flipped-Right
    transform: rotateY(-180deg)

.moveunder
    z-index: 2

.willappear, .disappeared
    opacity: 0
    transform: scale(0.3)
    z-index: 1

.done .disappeared
    opacity: 1.0
    transform: scale(1.2) rotate(-360deg)
    z-index: 1

.appeared, .willdisappear
    opacity: 1.0
    transform: scale(1.0) rotate(0deg)
    z-index: 2

