$fontsize: 20px
$cellsize: 90px
$cellmargin: 5px
$borderwidth: 5px
$duration: 0.3s
$expmax: 11

html
    --gridsize: 4 // max 16
body
    color: #eee
    background: #222
    margin: 0
    padding: 0

.grid
    margin: 20px
    position: relative
    border: 2px solid rgba(255, 255, 255, 0.3)
    width: calc((var(--gridsize) * #{$cellsize}) + (var(--gridsize) + 1) * #{$cellmargin})
    height: calc((var(--gridsize) * #{$cellsize}) + (var(--gridsize) + 1) * #{$cellmargin})

.cell
    perspective-origin: center center
    perspective: 300px
    position: absolute
    top: 0
    left: 0
    width: $cellsize + $cellmargin
    height: $cellsize + $cellmargin
    transition-duration: $duration
    transition-property: left top
    transition-timing-function: ease-in

.tile
    width: $cellsize
    height: $cellsize
    margin: $cellmargin
    margin-right: 0
    position: absolute
    background: none
    transform-style: preserve-3d
    transition-duration: $duration
    transition-property: transform box-shadow opacity
    transition-timing-function: ease-in

.front, .back
    /* hide back of pane during swap */
    backface-visibility: hidden
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    text-align: center
    line-height: $cellsize - (2 * $borderwidth)
    font-family: Arial
    font-size: $fontsize
    font-weight: normal
    user-select: none
    box-sizing: border-box
    border: $borderwidth solid red
    border-radius: $cellsize / 4

.front
    /* front pane, placed above back */
    z-index: 2
    transform: rotateY(0deg)

.back
    /* back, initially hidden pane */
    //

@for $i from 0 through 16 - 1
    .x-#{$i}
        left: ($cellsize + $cellmargin) * $i

@for $i from 0 through 16 - 1
    .y-#{$i}
        top: ($cellsize + $cellmargin) * $i

$startcol: #AFEEEE
@for $i from 0 through $expmax
    .val-#{$i}
        $deg: (360deg / 11) * $i
        $col: adjust-hue($startcol, $deg)
        background: $col
        border-color: darken($col, 30%)
        color: darken($col, 50%)
        font-size: 60px - ($i * 3)

// animations
.willflip-Up
    transform: rotateX(180deg)
.willflip-Down
    transform: rotateX(-180deg)
.willflip-Left
    transform: rotateY(-180deg)
.willflip-Right
    transform: rotateY(180deg)

.flipped-Up
    transform: rotateX(-180deg)
.flipped-Down
    transform: rotateX(180deg)
.flipped-Left
    transform: rotateY(180deg)
.flipped-Right
    transform: rotateY(-180deg)

.flipped-Up, .flipped-Down, .flipped-Left, .flipped-Right
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.7)

.moveunder
    z-index: -1

.willappear, .disappeared
    opacity: 0
    transform: scale(0.3)
.appeared
    opacity: 1
    transform: scale(1.0)

